<!DOCTYPE html>
<html>

<head>
    <title>Заметки</title>
    <script src="./js/vue.js"></script>
    <link rel="stylesheet" href="./CSS/style.css">
</head>

<body>

    <div id="app">
        <form class="cardForm" @submit.prevent="addCard">
            <p>
                <label for="GroupName">Имя  :</label>
                <input id="GroupName" v-model="groupName">
            </p>
            <p>
                <label for="InputOne">Цель :</label>
                <input id="InputOne" v-model="inputOne">
            </p>
            <p>
                <label for="InputTwo">Цель :</label>
                <input id="InputTwo" v-model="inputTwo">
            </p>
            <p>
                <label for="InputThree">Цель :</label>
                <input id="InputThree" v-model="inputThree">
            </p>
            <p>
                <label for="InputFor">Цель :</label>
                <input id="InputFor" v-model="inputFor">
            </p>
            <p>
                <button type="submit" class="Submit">Добавить</button>
            </p>
        </form>
        <div class="columns" style="display: flex; justify-content: space-evenly; ">
            <div class="column">
                <h2> Один</h2>
                <div class="card" v-for="group in firstColumn" :key="group.id">
                    <h3>{{group.groupName}}</h3>
                    <ul>
                        <li v-for="item in group.items" :key="item.id">
                            <input type="checkbox" v-model="item.checked" @change="updateProgress(group)"> {{ item.text }}
                        </li>
                    </ul>
                    <button @click="deleteCard(firstColumn, group)">Удалить</button>
                </div>
            </div>
            <div class="column">
                <h2> Два</h2>
                <div class="card" v-for="group in secondColumn" :key="group.id">
                    <h3>{{group.groupName}}</h3>
                    <ul>
                        <li v-for="item in group.items" :key="item.id">
                            <input type="checkbox" v-model="item.checked" @change="updateProgress(group)"> {{ item.text }}
                        </li>
                    </ul>
                    <button @click="deleteCard(secondColumn, group)">Удалить</button>
                </div>
            </div>
            <div class="column">
                <h2> Три</h2>
                <div class="card" v-for="group in thirdColumn" :key="group.id">
                    <h3>{{group.groupName}}</h3>
                    <ul>
                        <li v-for="item in group.items" :key="item.id">
                            <input type="checkbox" v-model="item.checked"> {{ item.text }}
                        </li>
                    </ul>
                    <p v-if="group.isComplete"> {{ group.lastChecked }}</p>
                    <button @click="deleteCard(thirdColumn, group)" v-if="group.isComplete">Удалить</button>
                </div>
            </div>
        </div>
    </div>
    <script src="./js/main.js"></script>
</body>

</html>